<div class="text-center">
<h1>My awesome team</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <img src="http://placehold.it/80x80" alt="" class="img-circle">
        <p>Louis</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="http://placehold.it/80x80" alt="" class="img-circle">
        <p>Henri</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="http://placehold.it/80x80" alt="" class="img-circle">
        <p>Paul</p>
      </div>
    </div>
  </div>
</div>
