<% members = ["davidov2", "louis", "rorotito"] %>


<h1 class="text-center"> My Team has <%= members.length %> members</h1>


<div class="text-center">
  <div class="container">
    <div class="row">

    <% members.each do |member| %>
      <div class="col-xs-4">

      <% link_to "index.html" do %>
         <img src="http://placehold.it/90x90" alt="" class="img-circle">
        <p><%= member %></p>
      <% end %>

      </div>
    <% end %>
    </div>

  </div>

</div>
